.header__contact {
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;  
    text-align: right;
    align-self: center ;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #FFFFFF;
}

.header__contact:hover {
    opacity: 0.5;
    transform: 0.3s;
}